
    .logo {
      --logo-size: calc(var(--index) * 7.8);
      width: var(--logo-size);
      height: var(--logo-size);
      background-repeat: no-repeat;
      position: absolute;
      left: calc(51% - calc(var(--logo-size) / 2));
      top: calc(var(--index) * 2.8);
      z-index: 1;
    }
    .layers {
      perspective: 1000px;
      overflow: hidden;
    }
    .layers__container {
      height: 100vh;
      min-height: 500px;
      transform-style: preserve-3d;
      transform: rotateX(var(--move-y)) rotateY(var(--move-x));
      will-change: transform;
      transition: transform var(--transition);
    }
    .layers__item {
      position: absolute;
      inset: -5vw;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .layer1 {
      transform: translateZ(-55px) scale(1.06);
    }
    .layer2 {right: 0%;
    
      transform: translateZ(80px) scale(.88);
        height: 70%;
        width: 90%;
    }
    .layer3 {
      transform: translateZ(180px) scale(.8);
    }
    .layer4 {
      transform: translateZ(190px) scale(.9);
    }
    .layer5 {
      transform: translateZ(300px) scale(.9);
    }
    .layer6 {
      transform: translateZ(380px);
    }
    .herocontent {
      font-size: 4rem;
      text-align: start;
      text-transform: uppercase;
      letter-spacing: calc(var(--index) * -.15);
      line-height: 1.35em;
      margin-top: calc(var(--index) * 5.5);
    }
    .herocontent span {
      display: block;
    }
    .herocontent__p {
      text-transform: none;
      font-family: merriweather-italic-3d;
      letter-spacing: normal;
      font-size: 2rem;
      line-height: 3;
    }
    .layer4, .layer5, .layer6 {
      pointer-events: none;
    }
    
  .logo {
    --logo-size: calc(var(--index) * 7.8);
    width: var(--logo-size);
    height: var(--logo-size);
    background-repeat: no-repeat;
    position: absolute;
    left: calc(51% - calc(var(--logo-size) / 2));
    top: calc(var(--index) * 2.8);
    z-index: 1;
  }
  .layers {
    perspective: 1000px;
    overflow: hidden;
  }
  .layers__container {
    height: 100vh;
    min-height: 500px;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    transition: transform var(--transition);
  }
  .layers__item {
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 14rem;
  }
  .layer1 {
    transform: translateZ(-55px) scale(1.06);
  }
  .layer2 {
    right: 0%;
    transform: translateZ(80px) scale(.88);
    height: 70%;
    width: 90%;
  }
  .layer3 {
    transform: translateZ(180px) scale(.8);
  }
  .layer4 {
    transform: translateZ(190px) scale(.9);
  }
  .layer5 {
    transform: translateZ(300px) scale(.9);
  }
  .layer6 {
    transform: translateZ(380px);
  }
  .heroContent {
    font-size: calc(var(--index) * 2.9);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * -.15);
    line-height: 1.35em;
    margin-top: calc(var(--index) * 5.5);
  }
  .heroContent span {
    display: block;
  }
  .heroContentP {
    text-transform: none;
    font-family: merriweather-italic-3d;
    letter-spacing: normal;
    font-size: calc(var(--index) * .73);
    line-height: 3;
  }
  .buttonStart {
    background-color: transparent;
    color: #fff;
    border-radius: 10em;
    border: rgb(255 255 255 / .4) 3px solid;
    outline: none;
    cursor: pointer;
    margin-top: calc(var(--index) * 2.5);
    font-size: 1.8rem;
    line-height: 5rem;
    padding-inline: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .layer4, .layer5, .layer6 {
    pointer-events: none;
  }
  